@model Project
@{
    ViewData["Title"] = "Repositórios";
}

<br><br><br>

<div class="d-flex justify-content-between" style="column-gap: 10%;">
    @if(Model.Repositories != null && Model.Repositories.Count > 0) {
        <div class="">
            <h1>Repositórios de @Model.Name</h1>
            <br>
            <div class="d-flex flex-column gap-4">
                @foreach(var repo in Model.Repositories) {
                    <div class="d-flex p-3 flex-column" style="background-color: #272727; border-radius: 6px; border: 1px solid #ffffff18">
                        <div class="d-flex justify-content-between">
                            <h4 class="m-0">@repo.RepoName</h4>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    Opções
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Edit" asp-controller="Repository" asp-route-id="@repo.Id">Editar</a></li>
                                    <li><a class="dropdown-item" asp-action="Delete" asp-controller="Repository" asp-route-id="@repo.Id">Deletar</a></li>
                                </ul>
                            </div>
                        </div>
                        <a class="text-white" asp-action="Commits" asp-controller="Repository" asp-route-id="@repo.Id">Commits</a>
                        <a class="text-white" asp-action="Code" asp-controller="Repository" asp-route-id="@repo.Id">Código</a>
                        <div>
                            Dono:
                            <p class="text-muted">@repo.Owner</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <img class="" style="min-width: 40%;" src="/Icons/github-white.svg"alt="">
    } else {
        <center class="flex-grow-1">
            <img src="/Icons/github-white.svg" style="width: 20%;" alt="">
            <p class="mt-5 mb-0 fst-italic">O projeto @Model.Name não possui Repositórios.</p>
            <h1 class="">Conectar um repositório?</h1>
            <button class="button-create mt-4" style="width: 20%;">
                <a class="text-white text-decoration-none" asp-controller="Repository" asp-action="ConnectRepository" asp-route-projectId="@Model.Id">Conectar</a>
            </button>
        </center>
    }
</div>