@using Glimpse.ViewModels;
@model ProjectsVM
@{
    Layout = "_BasicLayout";
    ViewData["Title"] = "Projetos";
    ViewData["StylesheetUrl"] = "~/css/index.css";
}

@* <partial name="_ProjectsSideBarPartial"></partial> *@

<br><br><br>
<div class="main-content d-flex align-items-center justify-content-center flex-column">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <h1 class="display-6 fw-bold reveal text-primary" style="letter-spacing: 3px;">Olá, @ViewData["UserName"]!</h1>
        <p class="fw-light fs-6">Aqui estão seus projetos vistos recentemente.</p>
        <a asp-controller="Project" asp-action="Create"><button class="button-create">Criar Projeto</button></a>
    </div>
    <br><br><br>

    <div class="row row-4 flex-lg-grow-1">
        @foreach (var kvp in Model.ActiveProjects) {
            <div class="col d-flex border-bottom border-primary border-3 p-3 m-xl-2" style="background-color: #272727; border-radius: 0.7em; max-width: 300px; height: 300px;">
                @if(kvp.Key.Boards == null || !kvp.Key.Boards.Any()) {
                    <a class="text-decoration-none" asp-controller="Board" asp-action="Create" asp-route-id="@kvp.Key.Id">
                        <p class="overflow-hidden text-white">@kvp.Key.Name</p>
                        <img class="img-icon" src="@Url.Content(kvp.Key.Picture)" alt="">
                        <br><br>
                        <p class="text-muted overflow-hidden" style="font-size: smaller;">@kvp.Key.Description</p>
                    </a>
                } else {
                    var boardsList = kvp.Key.Boards.ToList();
                    <a class="text-decoration-none" asp-controller="Board" asp-action="GetBoardInfo" asp-route-id="@boardsList[0].Id">
                        <p class="overflow-hidden text-white">@kvp.Key.Name</p>
                        <img class="img-icon" src="@Url.Content(kvp.Key.Picture)" alt="">
                        <br><br>
                        <p class="text-muted overflow-hidden" style="font-size: smaller;">@kvp.Key.Description</p>
                        <p class="text-muted overflow-hidden" style="font-size: smaller;">Created by: @kvp.Value.Email</p>
                    </a>
                }
                <div class="dropup">
                    <button class="dropdown-toggle text-white" type="button" id="project-dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #272727; height: 30px; outline: none; border: none;"></button>
                    <div class="dropdown-menu dropdown-menu-dark px-2" aria-labelledby="project-dropdown">
                        @if(Model.User == kvp.Value){
                            <a class="dropdown-item text-white" asp-controller="Project" asp-action="Edit" asp-route-id="@kvp.Key.Id">Editar</a>
                            <a class="dropdown-item text-danger" asp-controller="Project" asp-action="Delete" asp-route-id="@kvp.Key.Id">Deletar</a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item text-white" asp-controller="Board" asp-action="GetProjectBoards" asp-route-id="@kvp.Key.Id">Boards</a>
                        } else{
                            <li data-id="@kvp.Key.Id" style="cursor: pointer;">
                                <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#ConfirmLeaveProjectModal" aria-expanded="true" onclick="leaveProject(this)">
                                    Deixar Projeto
                                </a>
                            </li>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

<div class="modal fade" id="ConfirmLeaveProjectModal" tabindex="-1" aria-labelledby="ConfirmLeaveProjectModal" aria-hidden="true">
    <div class="modal-dialog bg-dark">
        <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
            <h5 class="modal-title" id="ConfirmDeleteModalLabel">Deixar Projeto</h5>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
            <p>Tem certeza que deseja deixar o projeto?</p>
            <p><strong>Para retornar ao projeto terá que ser convidado novamente.</strong></p>
        </div>
        <form method="post" asp-action="LeaveProject" asp-controller="Project" id="form-leave" enctype="multipart/form-data">
            <div class="modal-footer bg-dark">
                <input type="hidden" name="projectToLeaveId" id="projectToLeaveId" value="">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-danger" id="delete-submit">Deixar Projeto</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/site.js"></script>
}

<style>
    a {
        text-decoration: none;

    }
    .button-create {
        padding: 0.4em 1.2em;
        border: none;
        border-radius: 8px;
        letter-spacing: 1px;
        box-sizing: border-box;
        transition: all 500ms;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        outline: 2px solid #6600eb;
        background-color: black;
        color: white;
    }

    .button-create:hover {
        transform: scale(1.05);
        outline: 2px solid #6600eb;
        box-shadow: 2px 3px 10px -2px #6600eb;
        color: white;
    }

    .button-create::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#6600eb);
        transform: skewX(45deg);
        z-index: -1;
        transition: width 500ms;
    }

    .button-create:hover::before {
        width: 200%;
    }

    .glimpse-p {
        font-weight: bolder;
        background: -webkit-linear-gradient(144deg,#AF40FF, #5B42F3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.2em;
        font-style: italic;
    }
</style>