@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
    ViewData["stylesheetUrl"] = "~/css/register.css";
}

<a class="navbar-brand text-white" style="position: absolute; left: 4%" aria-current="page" href="~/Home/Index">
    <img src="/Icons/LogoHome.svg" alt="" width="160" height="36" class="d-inline-block align-text-top">
</a>

<div class="d-flex justify-content-center px-2" style="column-gap: 10%; margin-top: 3%;">
    <div class="d-md-block d-none position-absolute" style="z-index: 1;">
        <img src="~/Supremetones02 2 (1).png" alt="">
    </div>
    <div class="main-register d-flex flex-column px-3" style="z-index: 1000;">
        <div class="d-flex flex-column justify-content-center text-center pt-2">
            <h1 class="create-account mb-4 fw-bold display-4" style="color: #911aec;">Crie sua conta</h1>
            <p class="fs-6 fw-normal">A melhor plataforma de gestão de projetos</p>
        </div>
        <br>
        <form form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-white" role="alert"></div>
            <div class="row">
                <div class="form-floating mb-3 col">
                    <input asp-for="Input.FirstName" class="form-control input-register text-white" style="outline-color: #9531FF; border-color: #9531FF;" autocomplete="off" aria-required="true" placeholder="name@example.com"/>
                    <label asp-for="Input.FirstName" class="form-label text-white ms-3">Nome:</label>
                    <span asp-validation-for="Input.FirstName" class="text-white"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col">
                    <input asp-for="Input.LastName" class="form-control input-register text-white" style="outline-color: #9531FF; border-color: #9531FF;" autocomplete="off" aria-required="true" placeholder="name@example.com"/>
                    <label asp-for="Input.LastName" class="form-label text-white ms-3">Sobrenome:</label>
                    <span asp-validation-for="Input.LastName" class="text-white"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col align-content-center">
                    <input asp-for="Input.Email" class="input-register form-control text-white" style="outline-color: #9531FF; border-color: #9531FF;" autocomplete="off" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label text-white ms-3 text-center">Email:</label>
                    <span asp-validation-for="Input.Email" class="text-white"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col">
                    <input asp-for="Input.Password" class="form-control input-register text-white" style="outline-color: #9531FF; border-color: #9531FF;" autocomplete="off" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label text-white ms-3">Senha:</label>
                    <span asp-validation-for="Input.Password" class="text-white"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col">
                        <input asp-for="Input.ConfirmPassword" class="form-control input-register text-white" style="outline-color: #9531FF; border-color: #9531FF;" autocomplete="off" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword" class="form-label text-white ms-3">Confirmar Senha:</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-white"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="registersubmit" type="submit" class="submit-btn">Criar Conta</button>
                    <p>
                        <a class="" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" style="color: #d7d7d7;">Já tem uma conta?</a>
                    </p>
                </div>
            </div>
        </form>

        <section>
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <hr style="border-top: 2px solid rgb(255, 255, 255);">
                </div>
                <div class="px-3">
                    Ou
                </div>
                <div class="flex-grow-1">
                    <hr style="border-top: 2px solid rgb(255, 255, 255);">
                </div>
            </div>
            
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="google-btn" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">
                                                <img src="~/google_logo_icon.png">
                                                Registrar com @provider.DisplayName
                                            </button>
                                        </div>
                                    </div>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    body {
        overflow-y: auto; /* Hide vertical scrollbar */
        overflow-x: auto; /* Hide horizontal scrollbar */
    }
    .input-register {
        background-color: rgba(0, 0, 0, 0.729);
    }
    .input-register:focus {
        background-color: rgba(0, 0, 0, 0.729);;
    }
    .create-account {
        background: -webkit-linear-gradient(#ffffff, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .main-register {
        width: 500px;
        border: 4px;
        border-color: white;
        border-radius: 8px;
        padding: 3px;
        background: rgba(255, 255, 255, 0.147);
        border-radius: 16px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.488);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.45);
    }
</style>