@page
@model RegisterModel
@{
    Layout = "_BasicLayout";
    ViewData["Title"] = "Register";
    ViewData["stylesheetUrl"] = "~/css/register.css";
}

    <div class="container-fluid h-100">
        <div class="row h-100">
            
            <!-- Left half: Centered form -->
            <div class="col-md-6 h-100 d-flex justify-content-center ">
                <div class="flex-column">
                <div class="fixed-glimpse-text">
                    <a class="navbar-brand active text-white" aria-current="page" href="~/Home/Index">
                        <img src="~/Glimpse_text_white.png" alt="" width="160" height="36" class="d-inline-block align-text-top">
                    </a>
                </div>

                <div class="centered-form">
                    <div class="form-container">
                        <h2 class="mb-4">Register</h2>
                        <form form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.FirstName" class="form-input form-control bg-dark text-white" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.FirstName" class="form-label">First Name:</label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.LastName" class="form-input form-control bg-dark text-white" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.LastName" class="form-label">Last Name:</label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-input form-control bg-dark text-white" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email:</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-input form-control bg-dark text-white" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Password:</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-input form-control bg-dark text-white" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password:</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button id="registersubmit" type="submit" class="submit-btn">Submit</button>
                            <p>
                                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already Have an Account?</a>
                            </p>
                        </form>
                        <div class="col-md-6 col-md-offset-2">
                        <section>
                            <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <hr>
                            </div>
                            <div class="px-2">Or</div>
                            <div class="flex-grow-1">
                                <hr>
                            </div>
                            </div>
                            
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                            about setting up this ASP.NET application to support logging in via external services</a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="submit-btn" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">
                                                        <img src="~/google_logo_icon.png"> Register with @provider.DisplayName
                                                    </button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Right half: Image -->
            <div class="col-md-6 h-100 d-md-block d-none">
            <img src="~/registerSideImage.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
