@model List<Role>
@{

int? projectId = ViewData["projectId"] as int?;

<br>
<br>
<h3>Cargos por integrante</h3>

if(Model.Count == 0) {
    <p>Este projeto ainda não tem integrantes com cargos</p>
} else {
    foreach(Role role in Model)
    {
        <p>@role.Name - 
            <a asp-area="" asp-controller="Role" asp-action="Assign" asp-route-projectId="@projectId" asp-route-roleId="@role.Id">Atribuir</a> - 
            <a asp-area="" asp-controller="Role" asp-action="Edit" asp-route-projectId="@projectId" asp-route-roleId="@role.Id">Editar</a>
        </p>
    }
}
}