@using Glimpse.ViewModels;
@model BoardVM;

<div class="sideBar d-flex flex-column">
    <div class="top mb-5">
        <div class="logo">
            <img class="menuLogo" src="~/Icons/GlimpseLogo.svg" alt="">
            <span class="text-white">Glimpse</span>
        </div>
        <box-icon name="menu" color="white" id="side-menu-btn"></box-icon>
    </div>
    <div class="d-flex flex-column mb-3">
        <div class="sideBar-item">
            <a class="button-style-2 h-100" href="">
                <box-icon name='cog' color="white"></box-icon>
                <span class="SB-nav-item text-white">Opções</span>
            </a>
            <span class="tooltip">Opções</span>
        </div>
        <div class="sideBar-item" >
            <a class="button-style-2 h-100" asp-action="MainProjects" asp-controller="Project">
                <box-icon name='briefcase-alt' color="white"></box-icon>
                <span class="SB-nav-item text-white">Projetos</span>
            </a>
            <span class="tooltip">Projetos</span>
        </div>
        <div class="sideBar-item">
            <a class="button-style-2  h-100" asp-action="Logout" asp-controller="Account">
                <box-icon name='log-out' color="white"></box-icon>
                <span class="SB-nav-item text-white">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </div>
    </div>

    <div class="container mt-5">
        <div class="profile-container">
            <img class="user-img" src='@(Model.User.Picture ?? Url.Content("~/default-images/default-avatar.jpg"))' alt="">
            <div class="profile-info">
                <div>@Model.User.FirstName @Model.User.LastName</div>
                <div class="profile-status data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.User.UserName">
                    <div>@Model.User.UserName</div>
                </div>
            </div>
            <div class="profile-icons">
                <div class="dropup">
                    <box-icon data-bs-toggle="dropdown" aria-expanded="true" class="options-dots" name='dots-vertical-rounded' color="white"></box-icon>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-dark">
                        <a class="dropdown-item" asp-action="Profile" asp-controller="User">Profile</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>