@using Glimpse.ViewModels;
@using System.Text.Json;
@model BoardVM;


<input name="IsMemberSideBarActive" type="hidden">
<br>

    <input name="IsMemberSideBarActive" type="hidden">

    <div class="lanes text-white" style="max-width: 1250px;">
        <div>
            <button id="add-lane-button" class="fs-6 new-lane-btn text-white">
                Nova Raia +
            </button>
        </div>
        <div>
            <form id="create-lane-form" class="create-lane-form" asp-action="CreateLane" asp-controller="Lane" method="post" hidden>
                <div style="width: 300px; height: 200px;" class="lane">
                    <div class="d-flex align-content-center align-items-center px-1">
                        <input name="name" class="text-white lane-input" placeholder="Nome da raia" type="text" autocomplete="off" style="outline: none; border: none;">
                        <input name="id" value="@Model.Board.Id" type="hidden">
                        <input type="hidden" name="IsMemberSideBarActive" class="IsMemberSideBarActiveInput">
                    </div>
                    <br>
                    <hr>
                </div>
            </form>
        </div>
        @foreach (Lane lane in Model.Board.Lanes.OrderBy(lane => lane.Index))
        {
            <div class="swim-lane col mx-3 bg-dark" style="min-width: 280px;" data-id="@lane.Id" draggable="true">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center me-2">
                        <form asp-action="EditLane" asp-controller="Lane" method="post" class="d-flex align-items-center">
                            <input type="hidden" name="laneId" value="@lane.Id">
                            <input type="hidden" name="id" value="@Model.Board.Id">
                            <input type="text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@lane.Name" value="@lane.Name" class="form-control me-2 text-white" style="background-color: #2a2a2a; border-color: rgb(55, 55, 55); border-radius: 6px;" name="name">
                            <span class="badge bg-secondary text-white me-2 flex-grow-1 d-flex">@lane.Cards.Count</span>
                            @if((Model.UserRole != null && Model.UserRole.CanManageCards) || Model.User == Model.ProjectResponsibleUser){
                                <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Salvar Lane" class="btn btn-info text-white d-flex align-items-center justify-content-center p-2" style="outline: none; border-radius: 6px; border: none;">
                                    <box-icon name='save' color="white" style="width: 16px; height: 16px;"></box-icon>
                                </button>
                            }
                        </form>
                    </div>
                    <div class="d-flex align-items-center">
                        <form asp-action="DeleteLane" asp-controller="Lane" method="post" class="d-flex align-items-center">
                            <input type="hidden" name="laneId" value="@lane.Id">
                            <input type="hidden" name="id" value="@Model.Board.Id">
                            @if((Model.UserRole != null && Model.UserRole.CanManageCards) || Model.User == Model.ProjectResponsibleUser){
                                <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Deletar Lane" class="btn btn-danger text-white d-flex align-items-center justify-content-center p-2" style="outline: none; border-radius: 6px; border: none;">
                                    <box-icon name='trash' color="white" style="width: 16px; height: 16px;"></box-icon>
                                </button>
                            }
                        </form>
                    </div>
                </div>
                <hr>
            @if ((Model.UserRole != null && Model.UserRole.CanManageCards) || Model.User == Model.ProjectResponsibleUser) {
                <div class="col d-flex task-btn">
                    <a class="w-100 align-items-center add-card-link">
                        <button class="button-create add-card-button">
                            <div class="d-flex justify-content-center">
                                <img class="px-1" src="/Icons/plusIcon.svg" alt="">  
                                <p class="px-1 m-0">Nova Tarefa</p>
                            </div>
                        </button>
                    </a>
                </div>
            }
            <form class="create-card-form" asp-action="CreateCard" asp-controller="Card" method="post" hidden>
                <input name="name" class="w-100 ps-3 py-3 border-3 border-primary text-white card-input" style="background-color: #1E1E1E; border-radius: 13px; outline: none;" placeholder="Nome do cartão" type="text">
                <input name="laneId" value="@lane.Id" type="hidden">
                <input name="id" value="@Model.Board.Id" type="hidden">
                <input type="hidden" name="IsMemberSideBarActive" class="IsMemberSideBarActiveInput">
            </form>

            <form class="save-card-order-form" asp-action="SaveCardOrder" asp-controller="Card" method="post" hidden>
                <input type="text" name="taskIndexDictionary">
                <input name="id" value="@Model.Board.Id" type="hidden">
                <input type="hidden" name="IsMemberSideBarActive" class="IsMemberSideBarActiveInput">
            </form>

            <form class="save-lane-order-form" asp-action="SaveLaneOrder" asp-controller="Lane" method="post" hidden>
                <input type="text" name="laneIndexDictionary">
                <input name="id" value="@Model.Board.Id" type="hidden">
                <input type="hidden" name="IsMemberSideBarActive" class="IsMemberSideBarActiveInput">
            </form>

            @foreach (Card card in lane.Cards.OrderBy(card => card.Index))
            {
                var tagsJson = JsonSerializer.Serialize(card.Tags.Select(tag => new { tag.Name, tag.Color }));
                var checkboxesJson = JsonSerializer.Serialize(card.Checkboxes.Select( checkbox => new { checkbox.Id, checkbox.Finished, checkbox.Name }));
                var userJson = card.User != null ? JsonSerializer.Serialize(new { card.User.FirstName, card.User.LastName, card.User.Picture }) : "null";

                <div class="task row py-3 px-2 border-bottom border-3 border-primary" 
                    style="background-color: #1E1E1E; border-radius: 13px; cursor: pointer;"
                    data-boardid="@Model.Board.Id"
                    data-id="@card.Id"
                    data-name="@card.Name"
                    data-description="@card.Description"
                    data-startdate="@card.StartDate?.ToString("dd/MM/yyyy")"
                    data-duedate="@card.DueDate?.ToString("dd/MM/yyyy HH:mm")"
                    data-tags='@tagsJson'
                    data-user='@userJson'
                    data-checkboxes='@checkboxesJson'
                    draggable="true">
                    <div class="tags-container d-flex flex-wrap">
                        @foreach(Tag tag in card.Tags)
                        {
                            <span class="badge" style="background-color: @tag.Color;">@tag.Name</span>
                        }
                    </div>
                    <a class="text-white mb-2" style="font-size: 14px; text-decoration: none; cursor: pointer;">@card.Name</a>
                    @if(card.User != null)
                    {
                        <div class="d-flex align-content-center pt-2 mb-3 justify-content-between" style="text-wrap: nowrap; overflow: hidden;">
                            <div class="d-flex align-content-center">
                                <img class="mx-1" src="@(card.User.Picture ?? Url.Content("~/default-images/default-avatar.jpg"))"
                                width="30px"
                                height="30px"
                                style="border: 2px solid @(Model.UserRolesDictionary[card.User]?.Color ?? "#fff"); border-radius: 50%;">
                                <p class="px-1 m-0 align-content-center" style="overflow: hidden; text-overflow: ellipsis; color: @(Model.UserRolesDictionary[card.User]?.Color ?? "#fff");">@card.User.FirstName @card.User.LastName</p>
                            </div>
                        </div>
                        @if(card.StartDate != null && card.DueDate != null){
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center justify-content-start" style="background-color: #1a1a1a; border-radius: 2px; padding: 5px 10px; color: #797979; max-width:140px; max-height:30px;">
                                        <box-icon name='time-five' color="#797979"></box-icon>
                                        <span class="px-1" style="font-size: 11px;">@String.Format("{0:dd 'de' MMM} - {1:dd 'de' MMM}", card.StartDate, card.DueDate)</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start" style="max-width: 100px;">
                                        @{
                                            int checkedboxes = 0;
                                            foreach(Checkbox checkbox in card.Checkboxes){
                                                if(checkbox.Finished){
                                                    checkedboxes += 1;
                                                }
                                            }
                                        }
                                        <box-icon name='checkbox-checked' color="#797979" ></box-icon>
                                        <span class="checkbox-count" style="font-size: 12px; color:#797979; width:100%;">
                                            @checkedboxes/@card.Checkboxes.Count
                                        </span>
                                    </div>
                                </div>
                            }
                    } else
                    {
                        @if(card.StartDate != null && card.DueDate != null){
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-start" style="background-color: #1a1a1a; border-radius: 2px; padding: 5px 10px; color: #797979; max-width:140px; max-height:30px;">
                                    <box-icon name='time-five' color="#797979"></box-icon>
                                    <span class="px-1" style="font-size: 11px;">@String.Format("{0:dd 'de' MMM} - {1:dd 'de' MMM}", card.StartDate, card.DueDate)</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-start" style="max-width: 100px;">
                                    @{
                                        int checkedboxes = 0;
                                        foreach(Checkbox checkbox in card.Checkboxes){
                                            if(checkbox.Finished){
                                                checkedboxes += 1;
                                            }
                                        }
                                    }
                                    <box-icon name='checkbox-checked' color="#797979" ></box-icon>
                                    <span class="checkbox-count" style="font-size: 12px; color:#797979; width:100%;">
                                        @checkedboxes/@card.Checkboxes.Count
                                    </span>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }
</div>

<style>
    a.text-white {
        word-wrap: break-word;
        white-space: normal;
        display: block;
    }
    .board {
    width: 100%;
    height: 100%;
    }

    /* ---- BOARD ---- */
    .lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 13px;
    padding: 24px 32px;
    height: 100%;
    min-width: calc(100% - 250px);
    overflow-y: auto;
    margin-left: 150px;
    }

    .swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #272727;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 12px;
    border-radius: 4px;
    max-width: 225px;
    min-height: 120px;
    overflow-x: auto;
    }

    .task {
    background: white;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    cursor: move;
    }

    .is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
    }

    .is-dragging-lane {
        transform: scale(1.05) rotate(-5deg);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        background: rgb(50, 50, 50);
        color: white;
        transition: transform 0.2s ease;
    }
</style>
